.banner-detalle {
    background-color: #2f54ed;
    background-image: linear-gradient(180deg, #2f54ed 20%, #0a0a6b 54%, #2f54ed 86%);
}

.nombre-banner {
    font-family: 'Fugaz One', cursive;
}

.avatar-detalle {
    border-radius: 50px;
    max-width: 80px;
    object-fit: contain;
}

.estrellas {
    letter-spacing: 5px;
}


.middle {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
}

.btn {
    position: relative;
    display: block;
    color: white;
    font-size: 14px;
    font-family: "montserrat";
    text-decoration: none;
    margin: 30px 0;
    border: 2px solid #f37004;
    padding: 14px 60px;
    text-transform: uppercase;
    overflow: hidden;
    transition: 1s all ease;
}

.btn::before {
    background: #f37004;
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
    transition: all 0.6s ease;
}

.btn4::before {
    width: 100%;
    height: 0%;
    transform: translate(-50%, -50%) rotate(-45deg);
}

.btn4:hover::before {
    height: 380%;
}