body{
    background-image: url("/img/imagenesIndex/backk4SATINADO.jpg");
    background-attachment: fixed;
    
    /* background-color: var(--new-2);
    background-image: linear-gradient(225deg, var(--new-1) 9%, var(--new-2) 80%);*/
    color: white; 
}

.galeriaSeccion{
    justify-content: center;
    display: flex;
    width: auto;
    height: 600px;
}
.galeriaSeccion img{
    width: 0px;
    flex-grow: 1;
    object-fit: cover;
    opacity: .8;
    box-shadow: 0px 0px 12px 8px #181876;
    transition: 1s ease;
}
.galeriaSeccion img:hover{
    width: 300px;
    opacity: 1;
    filter: contrast(120%);
}
:root{
    --blue-0:#061F6C;
    --blue-1:#052263;
    --blue-2:#061F4B;
    --blue-3:#6F9AF4;
    --white-0:#f1f1f1;
    --white-1:#FFFFFF;
    --red-0:#E25B50;
    --red-1:#FF725E;
    --red-2:#ff8e8a;
    --yellow-0:#e2c750;
    --yellow-1:#f7df75;
    --green-0:#13a100;
    --green-1:#4bcc3a;
    --purple-0:#505ae2;
    --purple-1:#7f86e9;
    --new-0:#3c1162;
    --new-1:#181876;
    --new-2:#2f54ed;
}

.btn-purpura{
    background-color: var(--new-0);
    color: white
}
.btn-purpura:hover{
    background-color: var(--purple-0);
    color: aliceblue;
}

.sombreado{
    border: 1px solid #181876;
    padding: 0px;
    box-shadow: 0px 0px 12px 8px #181876;
    border-radius: 40px;
}
.redondear{
    border-radius: 40px;
}
ul{
    list-style: none;
}
li{
    padding-top: 10px;
    padding-bottom: 10px;
}
a:hover{
    transform: scale(1.2);
    cursor: grab;
    color: white;
    text-shadow: 0px 0px 10px var(--new-0);
}
a{
    text-decoration: none;
    color:rgb(0, 0, 0)
}

.color-shadow{
    text-shadow: 0px 0px 10px #190072;
}

.bg-dark-subtle:hover{
    transition: 0.2s;
    box-shadow: 0px 0px 15px 15px var(--new-0);
}

@media screen and (max-width: 486px) {
    .galeriaSeccion img:hover{
        width: 200px;
        opacity: 1;
        filter: contrast(120%);
    }
    .galeriaSeccion{
        justify-content: center;
        display: flex;
        width: auto;
        height: 300px;
    }
    
}