body{
    background-color: #3c1162;
    background-image: linear-gradient(225deg, #3c1162 9%, #181876 80%);

}

.cardImagen{
    background: beige;
    box-shadow: 15px 15px 35px aliceblue;
    width: 100%;
    height: 50%;
}

.card-body{
    background-color: aliceblue;
    box-shadow: 15px 15px 35px aliceblue;
}